<div class="update">
    <!-- <h2>modifie les textes</h2> -->
    <!-- <div class="input">
        <input [(ngModel)]="item.date" placeholder="Date">
        <input [(ngModel)]="item.name" placeholder="Name">
        <input [(ngModel)]="item.description" placeholder="Description">
        <button (click)="updateItem()" class="btn modifier">Modifier</button>
        <button (click)="cancel.emit()" class="btn supprimer">Annueler</button>
    </div> -->
    <h2>modifie les taches</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Description</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td><input [(ngModel)]="item.date" placeholder="Date"></td>
                <td><input [(ngModel)]="item.name" placeholder="Name"></td>
                <td><input [(ngModel)]="item.description" placeholder="Description"></td>
                <td><button (click)="cancel.emit()" class="btn supprimer">Annueler</button></td>
            </tr>
            <!-- Ajouter d'autres lignes ici -->
        </tbody>
    </table>
</div>

