<div class="cruds">
  <div class="crudAdd">
    <h2>Ajouter une liste de tache</h2>
    <div class="input">
      <input [(ngModel)]="date" placeholder="Date" type="date">
      <input [(ngModel)]="name" placeholder="Name">
      <input [(ngModel)]="description" placeholder="Description">
      <button (click)="addCrud()" class="btn">Ajouter</button>
    </div>
  </div>

  <div class="crudList">
    <h2>Liste des taches saisies</h2>
    <table >
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Description</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items | async">
        <tr>
          <td>{{ item.date | date}}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td><button (click)="deleteItem(item.id)" class="btn supprimer"><i class='bx bx-trash'></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-edit-item *ngIf="editingItem" [item]="editingItem"
  (cancel)="editingItem = null"></app-edit-item>
</div>

