<div class="cruds">
  <div class="crudAdd">
    <h2>Ajouter votre texte</h2>
    <div class="input">
      <input [(ngModel)]="date" placeholder="Date" type="date">
      <input [(ngModel)]="name" placeholder="Name">
      <input [(ngModel)]="description" placeholder="Description">
      <button (click)="addCrud()" class="btn">Add new crud</button>
    </div>
  </div>

  <div class="crudList">
    <h2>Liste des textes saisies</h2>
    <table >
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Description</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items | async">
        <tr>
          <td>{{ item.date | date}}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td><button (click)="editItem(item)" class="btn modifier">Modifier</button></td>
          <td><button (click)="deleteItem(item.id)" class="btn supprimer"><i class='bx bx-trash'></i></button></td>
        </tr>
      </tbody>
    </table>
    <!-- <div>
      <div *ngFor="let item of items | async">
        {{ item.name }}
        {{ item.description }}
        <button (click)="editItem(item)" class="btn btn2">Modifier</button>
        <button (click)="deleteItem(item.id)" class="btn btn3"><i class='bx bx-trash'></i></button>
      </div>
    </div> -->
  </div>

  <app-edit-item *ngIf="editingItem" [item]="editingItem" (update)="updateItem($event)"
  (cancel)="editingItem = null"></app-edit-item>
</div>

